body {
    font-family: "Cooper Medium", sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    background-color: black
}
#surface {
    background-color: #1B2F15;
    margin: 18px;
    filter: blur(18px)
}
#app {
    position: absolute;
    width: 180px;
    z-index: 101;
}
#textInput {
    position: absolute;
    width: 280px;
    z-index: 101;
    background-color: black;
    border: none;
    outline-color: #E0D85C;
    color: #E0D85C;
    font-size: 18px;
    opacity: 0.3
}
#textInput:hover {
    opacity: 1
}
#output {
    position: absolute;
    display: flex;
    z-index: 101;
    color: white;
    font-size: 2em;
}
.element {
    position: relative;
    bottom: 0;
    color: white;
    border: 1px solid white;
    width: 80px;
    padding: 2px;
    margin: 0 8px 0 0
}
.wider {
    width: 114px
}
.element, h1 {
    font-weight: bolder;
}
.element > h6 {
    font-size: 0.35em;
}
.element > h1, h6 {
    text-align: center;
    margin: 0;
}
.text {
    min-width: 17px;
}
.text > h1 {
    padding: 16px 0 0 0;
    margin: 0 8px 0 0;
}
.align-left {
    text-align: left;
}
.spacer {
    width: 28px
}
#sig {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0 12px 12px 0;
    color: silver;
}
#sig a {
    color: white
}
