body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
    background-color: black
}
#surface {
    background-color: #1B2F15;
    filter: blur(18px)
}
#app {
    position: absolute;
    width: 180px;
    z-index: 101;
}
#textInput {
    position: absolute;
    width: 180px;
    z-index: 101;
    background-color: black;
    border: none;
    outline-color: #E0D85C;
    color: #E0D85C
}
#output {
    position: absolute;
    vertical-align: middle;
    display: flex;
    z-index: 101;
    color: white;
    font-size: 2em;
}
.element {
    position: relative;
    bottom: 0;
    color: white;
    border: 1px solid white;
    width: 80px;
    padding: 2px;
    margin: 0 12px 0 0
}
.element, h1 {
    font-weight: bolder;
}
.element > h6 {
    font-size: 0.35em;
}
.element > h1, h6 {
    text-align: center;
    margin: 0;
}
.text {
    min-width: 17px;
}
.text > h1 {
    padding: 28px 0 0 0;
    margin: 0 12px 0 0;
}
.align-left {
    text-align: left;
}
